.searchContainer {
    /* Search */
    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 8px;
    gap: 16px;

    width: 340px;
    height: 24px;

    /* White */
    background: #FFFFFF;
    /* Light Gray */
    border: 1px solid #E0E0E0;
    border-radius: 8px;

    /* Inside auto layout */
    flex: content;
    order: 1;
    flex-grow: 0;
    justify-content: space-around;
}

.searchInput {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px 0px 0px 4px;
    gap: 4px;

    width: 312px;
    height: 16px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
}