.container {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 0px 0px;
    gap: 8px;

    width: 350px;
    height: 550px;

    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
    overflow-y: scroll;
}

.row {
    /* Auto layout */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    width: 328px;
    height: 112px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}