.container {
    position: relative;
    height: 640px;
    width: 360px;
    border-radius: 12px;
    background: #74CB48;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;

    position: absolute;
    width: 312px;
    height: 32px;
    left: 24px;
    top: 24px;
}

.arrow{
    width: 24px;
    height: 32px;
    flex: none;
    order: 0;
    flex-grow: 0;
    cursor: pointer;
}

.name {
    /* Pokémon Name */
    width: 224px;
    height: 32px;

    /* Poppins Bold 24 */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height, or 133% */
    display: flex;
    align-items: center;

    /* White */
    color: #FFFFFF;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 1;
    text-transform: capitalize;
}

.number {
    width: 32px;
    height: 32px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 32px;
    /* identical to box height, or 267% */
    display: flex;
    align-items: center;

    /* White */
    color: #FFFFFF;
    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
}

.image{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 200px;
    height: 200px;
    left: 80px;
    top: 80px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 56px 20px 0px;
    gap: 16px;

    position: absolute;
    width: 311px;
    height: 355px;
    left: 4px;
    top: 224px;

    /* White */
    background: #FFFFFF;
    border-radius: 8px;
}

.type {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px;
    gap: 16px;

    width: 312px;
    height: 20px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.typeFrame {
    /* Type */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2px 8px;

    width: 46px;
    height: 20px;

    /* Type - Grass */
    border-radius: 10px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.typeFrame p {
    color: #FFFFFF;
    font-weight: 700;
    font-family: 'Poppins';
    font-style: normal;
    text-transform: capitalize;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 312px;
    height: 16px;
}

.line {
    width: 1px;
    height: 48px;
    background: #E0E0E0;
}

.about {
    display: flex;
    gap: 24px;
    width: 312px;
    height: 70px;
    align-items: center;
    justify-content: center;
    overflow: visible;
}

.about h3 {
    size: 10px;
    font-weight: 400;
    line-height: 16px;
    text-align: justify;
}

.about h1 {
    size: 8px;
    font-weight: 400;
    line-height: 12px;
    text-align: center;
    color: #666666;
    
    text-transform: capitalize;
}

    